html, body {
      height: 100%;
      display: flex;
      flex-direction: column
}

.main {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column
}

.content {
      flex: 1 0 auto;
      padding: 2px
}

.footer {
      flex-shrink: 0;
      background-color: #f8f9fa;
      padding: 20px 0;
      text-align: center;
      font-size: 12px;
}

.color-selector {
      display: flex;
      align-items: center
}

.color-option {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      margin: 10px;
      cursor: pointer
}

.color-option:hover {
      opacity: 0.8
}

.color-option.colorselected {
      border-radius: 25%;
      filter: drop-shadow(2px 2px 5px #000000);
}

.navbar-dark .navbar-toggler {
      margin-right: 8px;
}

td {
      vertical-align: middle !important;
      text-align: center;
}

tr {
      text-align: center;
}

.nav-link {
      cursor: pointer;
}

.table-link {
      cursor: pointer;
}

.modal-top10 {
      top: 10% !important;
}

/*@media only screen and (max-width:640px) {
      .table-adapt td:nth-child(2), .table-adapt th:nth-child(2), .table-adapt td:nth-child(3), .table-adapt th:nth-child(3) {
            display: none;
      }

}*/
.form-check-label {
      margin-bottom: 0;
      padding-left: 32px;
      padding-top: 8px;
}

.unselected-tag {
      opacity: 0.5;
}
